# ignore everything in the "wp-content" directory, except:
# "plugins/elementor-master", "themes/bazarplus" directory
plugins/*
themes/*
!plugins/elementor-master/
!themes/bazarplus/


# ignore node dependency directories
node_modules/


backups-dup-lite/
languages/
upgrade/
uploads/
.vscode/
# ignore log files and databases

index.php
*.log
*.sql
*.sqlite
db.php
